<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<style>
body {
	font-family: 'PlayfairDisplayRegular', "Georgia", serif !important;
}

.nav-tabs {
	border-bottom: 2px solid red !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	color: #555 !important;
	background-color: #EF0A0A !important;
}

.navbar-default {
	background-color: inherit;
	border-color: white;
}

.red-button, red-button:hover {
	background-color: #DC143C !important;
	border-color: #DC143C !important;
}

.alpha {
	display: flex !important;
	float: right;
	margin-top: 110px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #DC143C !important;
}

.width {
	width:30% !important;
}
.hide {
//display:none !important;
}
.inline {
display:inline-flex;
}
</style>
<link th:fragment="link" th:href="@{/resources/css/main.css}"
	rel="stylesheet" />
<link th:fragment="link"
	th:href="@{/resources/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:fragment="link"
	th:href="@{/resources/font-awesome/font-awesome-4.4.0/css/font-awesome.min.css}"
	rel="stylesheet" />
<link th:fragment="link"
	th:href="@{/resources/other/bootstrapValidator.min.css}"
	rel="stylesheet" />

</head>
<body>

	<div th:fragment="menu">

		<img th:src="@{/resources/photos/Herb_Polski.svg}"
			style="height: 10em; margin-top: 10px;" alt="..."></img>
		<p style="display: inline-block; margin-left: 20px; font-size: 4em;">wybory.gov.pl</p>
		<div class="alpha"
			style="display: flex; float: right; margin-top: 110px;">
			<p>Twój PESEL:</p>
			<div sec:authentication="name"></div>
		</div>
		<nav class="navbar navbar-default upperCase">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<!-- Doczytac co oznacza # -->
						<li class="active"><a href="/dzejk" class="red-button"><i
								class="fa fa-home fa-lg"></i> Strona główna</a></li>
						<li><a href="/dzejk/politicalParty">Lista partii
								politycznych</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Lista kandydatów na...<span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/dzejk/candidate/listPresident">Prezydenta</a></li>
								<li><a href="/dzejk/candidate/politicalPartyPresident">Przewodniczącego
										Partii</a></li>
								<li><a href="#">Głosującego</a></li>
							</ul></li>
						<li th:if="${#authorization.expression('hasRole(''Admin'')')}"
							class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dodaj kandydatów...<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/dzejk/listCandidatePresident" class="red">Prezydenta</a></li>
								<li><a href="/dzejk/politicalPartyCandidatesPresident">Przewodniczącego
										Partii</a></li>
								<li><a href="#">Głosującego</a></li>
							</ul></li>
						<li><a href="list">Nadchodzące wybory</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li th:switch="${#authorization.expression('isAuthenticated()')}"
							class="active"><a th:case="false" href="/dzejk/login"><i
								class="fa fa-sign-in fa-lg"></i> Zaloguj <span class="sr-only">(current)</span></a>
							<form th:case="true" method="post" th:action="@{/logout}">
								<button type="submit" class="btn btn-default">
									<i class="fa fa-sign-in fa-lg fa-rotate-180"></i> Wyloguj <span
										class="sr-only">(current)</span>
								</button>
							</form></li>
						<li th:switch="${#authorization.expression('isAuthenticated()')}">
							<a th:case="false" href="/dzejk/register"><i
								class="fa fa-user-plus fa-lg"></i> Zarejestruj</a> <a th:case="true"
							href="#" class="dropdown-toggle" data-toggle="dropdown"
							role="button"><i class="fa fa-cog" aria-hidden="true"></i>
								Ustawienia</a>
							<ul class="dropdown-menu">
								<li><a data-toggle="modal"
									data-target=".bs-example-modal-lg">Dane podstawowe</a></li>
								<li><a href="/dzejk/setings">Opis</a></li>
							</ul>
						</li>
						<li><a href="../navbar-fixed-top/"><i
								class="fa fa-info fa-lg"></i> O stronie</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
								<input type="hidden" th:name="${_csrf.parameterName}"
						id="header" th:value="${_csrf.headerName}" /> <input
						type="hidden" th:name="${_csrf.parameterName}" id="token"
						th:value="${_csrf.token}" />
		<span
			th:text="${#authorization.expression('isAuthenticated()')} ? 
               'the user is logged in' : 
               'the user is NOT logged in'">
		</span>
		<div sec:authentication="name">The value of the "name" property
			of the authentication object should appear here.</div>

		<div th:if="${#authorization.expression('hasAuthority(''Admin'')')}">
			This will only be displayed if authenticated user has role
			ROLE_ADMIN.</div>
	</div>
	<div th:fragment="footer">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					th:src="@{/resources/photos/Sejm_Logo.jpg}" alt="..." />
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					th:src="@{/resources/photos/Senat_Logo.jpg}" alt="..." />
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					th:src="@{/resources/photos/Monitor_Polski.jpg}" alt="..." />
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img th:src="..." alt="..." />
				</a>
			</div>
			<div class="modal fade bs-example-modal-lg" tabindex="-1"
				role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog width">
					<div class="modal-content">
						<div>

							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home"
									aria-controls="home" role="tab" data-toggle="tab">Dane
										Podstawowe</a></li>
								<li role="presentation"><a href="#profile"
									aria-controls="profile" role="tab" data-toggle="tab">Edytuj</a></li>
								<li role="presentation"><a href="#messages"
									aria-controls="messages" role="tab" data-toggle="tab">???</a></li>
								<li role="presentation"><a href="#settings"
									aria-controls="settings" role="tab" data-toggle="tab">Informacje</a></li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="home">

									<div class="bs-example bs-example-type"
										data-example-id="simple-headings">
										<table class="table">
											<tbody>
												<tr>
													<td><h5>Imię:</h5>
														<p class="firstName"></p></td>
													<td class="type-info">Semibold 24px</td>
												</tr>
												<tr>
													<td><h5>Nazwisko:</h5>
														<p class="lastName">th</p></td>
													<td class="type-info">Semibold 24px</td>
												</tr>
												<tr>
													<td><h5>PESEL:</h5>
														<p class="PESEL"></p></td>
													<td class="type-info">Semibold 24px</td>
												</tr>
												<tr>
													<td><h5>Miejsce zamieszkania:</h5>
														<p class="city"></p></td>
													<td class="type-info">Semibold 24px</td>
												</tr>
											</tbody>
										</table>
									</div>


								</div>
								<div role="tabpanel" class="tab-pane" id="profile">
																			<table class="table">
											<tbody>
												<tr>
													<td><h5>E-mail:</h5>
														<p class="email"></p> <a class="change">Zmień adres</a>
																	<form th:action="editUserInfoEmail" method="POST" th:object="${settingsForm}" id="newEmail">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input th:field="${settingsForm.email}" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Potwierdź zmianę hasłem:</label>
    <input th:field="${settingsForm.oldPassword}"  type="password" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
  </div>
  <button class="btn btn-default" type="button" id = "sendNewEmail">Zmień</button>	
  </form>
														</td>

																		</tr>
<tr>
<td><h5>Hasło:</h5>
<form id="newPasswordForm" method="POST" th:object="${settingsForm}">
  <div class="form-group">
    <label for="exampleInputEmail1">Nowe hasło:</label>
    <input th:field="${settingsForm.newPassword}"  type="password" class="form-control" id="exampleInputEmail1" placeholder="Nowe hasło"/>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Potwierdź zmianę hasłem:</label>
    <input th:field="${settingsForm.oldPassword}"  type="password" class="form-control" id="exampleInputEmail1" placeholder="Aktualne hasło"/>
  </div>
  <button class="btn btn-default"  type="button" id="newPasswordSend"></button>
  </form>
</td>
</tr>
<tr>
<td>
<form id="sendNewCityForm" method="POST" th:object="${settingsForm}" >
  <div class="form-group">
    <label for="exampleInputEmail1">Stare miejsce zamieszkania:</label>
    <p class="city"></p>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Nowe miejsce zamieszkania:</label>
    <input th:field="${settingsForm.city}"   type="text" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
  </div>
  <button type="button" id="sendNewCity">Zmien</button>
  </form>
</td>
</tr>
<tr>
<td>

<form th:object="${settingsForm}" method="post" id="newDescriptionForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Opis</label>
    <p class="description"></p>
  </div>
 <div class="form-group">
  <label for="comment">Opis:</label>
  <textarea class="form-control" rows="5" th:field="*{description}"></textarea>
</div>
  <button type="button" id="sendNewDescription">Zmien</button>  </form>
</td>
</tr>
											</tbody>
										</table>								
								
								
								</div>
								<div role="tabpanel" class="tab-pane" id="messages">
								 <div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
								</div>
								<div role="tabpanel" class="tab-pane" id="settings">...4</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="footerInfo" th:fragment="footer">
		<ul>
			<li><a href="/dzejk/api/PresidentCandidate">API for
					Developers</a></li>
		</ul>
	</div>
	

	<script th:fragment="script"
		th:src="@{/resources/jquery/jquery-1.11.3.min.js}"></script>
	<script th:fragment="script"
		th:src="@{/resources/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
	<script th:fragment="script"
		th:src="@{/resources/other/bootstrapValidator.min.js}"></script>
	<script>
	function getInfo(){
		var val = $('.alpha div').text();
		$.ajax({
			type : "GET",
			url : "editUserInfo",
			data : {
				pesel : val
			}, // parameters
			success : function(data) {

				console.dir(data);
				$('.firstName').text(data.firstName);
				$('.lastName').text(data.lastName);
				$('.PESEL').text(data.pesel);
				$('.city').text(data.city);
				$('.email').text(data.email);
				$('.description').text(data.description);
				
			},
			error : function(data) {
				alert("errror")
				console.dir(data)

			}})
	}
		$('.navbar-right li > a').on('click', function() {
			getInfo();
		});
		
		//sa
				$('#sendNewEmail').on('click', function() {
					console.log(this)
			//alert("Dsadsadsad");
			var token = $("#token").attr("value");
			var header = $("#header").attr("value");
			console.log(token);
			console.log(header);
			var val = $('#newEmail').serialize();
			$.ajax({
				type : "POST",
				url : "editUserInfoEmail",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
					
				},
				data : val, // parameters
				success : function(data) {
					getInfo();
					console.dir(data);

					
				},
				error : function() {
					alert("errror")

				}
			})
		});
		//city
		$('#sendNewCity').on('click', function() {
					console.log(this)
			//alert("Dsadsadsad");
			var token = $("#token").attr("value");
			var header = $("#header").attr("value");
			console.log(token);
			console.log(header);
			var val = $('#sendNewCityForm').serialize();
			$.ajax({
				type : "POST",
				url : "editUserInfoCity",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
					
				},
				data : val, // parameters
				success : function(data) {
					getInfo();
					console.dir(data);

					
				},
				error : function() {
					alert("errror")

				}
			})
		});
		
		//password
		$('#newPasswordSend').on('click', function() {
					console.log(this)
			//alert("Dsadsadsad");
			var token = $("#token").attr("value");
			var header = $("#header").attr("value");
			console.log(token);
			console.log(header);
			var val = $('#newPasswordForm').serialize();
			$.ajax({
				type : "POST",
				url : "editUserInfoPassword",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
					
				},
				data : val, // parameters
				success : function(data) {
					getInfo();
					console.dir(data);

					
				},
				error : function() {
					alert("errror")

				}
			})
		});
		//description
				$('#sendNewDescription').on('click', function() {
					console.log(this)
			//alert("Dsadsadsad");
			var token = $("#token").attr("value");
			var header = $("#header").attr("value");
			console.log(token);
			console.log(header);
			var val = $('#newDescriptionForm').serialize();
			$.ajax({
				type : "POST",
				url : "editUserInfoDecription",
				beforeSend : function(xhr) {
					xhr.setRequestHeader(header, token);
					
				},
				data : val, // parameters
				success : function(data) {
					getInfo();
					console.dir(data);

					
				},
				error : function() {
					alert("errror")

				}
			})
		});
	</script>
</body>
</html>