<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<style>
body {
    font-family: 'PlayfairDisplayRegular', "Georgia", serif;
    }
	
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555 !important;
    background-color: #EF0A0A !important;
	}
	
	.navbar-default {
	background-color: inherit;
    border-color: white;
	}

</style>
</head>
<body>

<link th:fragment="link" th:href="@{/resources/css/main.css}" rel="stylesheet" />
<link th:fragment="link" th:href="@{/resources/bootstrap/bootstrap-3.3.5-dist/css/bootstrap.min.css}" rel="stylesheet" />
<link th:fragment="link" th:href="@{/resources/font-awesome/font-awesome-4.4.0/css/font-awesome.min.css}" rel="stylesheet" />
<div th:fragment="menu">

<img th:src="@{/resources/photos/Herb_Polski.svg}" style="height:10em; margin-top: 10px;" alt="..."></img>
      <p style="display: inline-block; margin-left: 20px; font-size: 4em;">wybory.gov.pl</p>
      <!-- Static navbar -->
      <nav class="navbar navbar-default upperCase">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul  class="nav navbar-nav">
              <!-- Doczytac co oznacza # -->	
              <li class="active"><a href="/dzejk"><i class="fa fa-home fa-lg"></i> Strona główna</a></li>
              <li><a href="list">Lista partii politycznych</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lista kandydatów na...<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Prezydenta</a></li>
                  <li><a href="#">Przewodniczącego Partii</a></li>
                  <li><a href="#">Głosującego</a></li>
                </ul>
              </li>
              <li><a href="list">Nadchodzące wybory</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li  th:switch="${#authorization.expression('isAuthenticated()')}" class="active">
              	<a th:case="false" href="/dzejk/login"><i class="fa fa-sign-in fa-lg"></i> Zaloguj <span class="sr-only">(current)</span></a>
              	<a th:case="true" th:href="j_spring_security_logout"><i class="fa fa-sign-in fa-lg fa-rotate-180"></i> Wyloguj <span class="sr-only">(current)</span></a>
              	</li>
              <li><a href="../navbar-static-top/"><i class="fa fa-user-plus fa-lg"></i> Zarejestruj</a></li>
              <li><a href="../navbar-fixed-top/"><i class="fa fa-info fa-lg"></i> O stronie</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      <span th:text="${#authorization.expression('isAuthenticated()')} ? 
               'the user is logged in' : 
               'the user is NOT logged in'">
</span>
</div>
<div th:fragment="footer">
<div class="row">
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img th:src="@{/resources/photos/Sejm_Logo.jpg}"  alt="..."/>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img th:src="@{/resources/photos/Senat_Logo.jpg}"  alt="..."/>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img th:src="@{/resources/photos/Monitor_Polski.jpg}" alt="..."/>
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img th:src="..." alt="..."/>
    </a>
  </div>
</div>
</div>
    <script th:fragment="script" th:src="@{/resources/jquery/jquery-1.11.3.min.js}"></script>
	<script th:fragment="script" th:src="@{/resources/bootstrap/bootstrap-3.3.5-dist/js/bootstrap.min.js}"></script>
</body>
</html>